<!DOCTYPE html>
<html ng-app="noveriaApp">
	<head>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" type="text/javascript"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" type="text/javascript"></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.9/angular-route.min.js"></script>
		<script type="text/javascript" src="http://mcummings1024.github.io/Noveria/js/app.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css' />
		<link href="main.css" rel="stylesheet" type="text/css" />
		<link rel="icon" href="img/favicon.ico" />
		<title>Noveria</title>
	</head>
	<body class="container" ng-controller="HomeController as home">
		<header>
			<div class="row">
				<div class="col-3 header-flag-div">
					<img src="img/nvcivilflag.jpg" class="header-flag" />
				</div>
				<div class="col-9 header-text">
					<h1>The People's Buddhist Republic of Noveria</h1>
				</div>
			</div>
			<nav class="row">
				<a id="homeBtn" class="col" href="#/" ng-click="home.navClicked('home')">Home</a>
				<a id="factsBtn" class="col" href="#/facts" ng-click="home.navClicked('facts')">Stats</a>
				<a id="aboutBtn" class="col" href="#/about" ng-click="home.navClicked('about')">About</a>
				<a id="quizBtn" class="col" href="#/quiz" ng-click="home.navClicked('quiz')">Political&nbsp;Quiz</a>
				<a id="joinBtn" class="col" href="#/join" ng-click="home.navClicked('join')">Citizenship</a>
			</nav>
		</header>
		<p class="row alert alert-warning">Note: This website is currently under construction.</p>
		<ng-view></ng-view>
		<footer>&copy;2016 - {{home.currentYear}} Matthew Cummings</footer>
	</body>
</html>
