body {
	margin: auto;
	font-family: quicksand, sans-serif;
	font-weight: bolder;
}

p, li {
	font-size: 18px;
}

nav div {
	width: 200%;
	background-color: #01F;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	padding: 10px;
}

nav div:hover {
	background-color: #7171FF;
}

.clicked {
	background-color: #FFF;
	color: #01F;
	height: 45px;
	border: 1px solid #01F;
}

.strike {
	text-decoration: line-through;
}

.header-text {
	display: inline-block;
	font-size: 48px;
	margin: 30px 0;
}

.header-flag-div {
	display: inline-block;
	padding: 10px;
}

.header-flag {
	width: 100%;
}

.col-lg-4 img {
	width: auto;
	height: 200px;
}

img {
	border: 1px solid black;
}

textarea {
	margin-bottom: 10px;
}