body {
	margin: auto;
	font-family: quicksand, sans-serif;
	font-weight: bold;
}

p, li {
	font-size: 18px;
}

img {
	border: 1px solid black;
}

textarea, nav {
	margin-bottom: 10px;
}

footer {
	position: relative;
	bottom: 0px;
}

nav a {
	background-color: #01f;
	color: #fff;
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	text-align: center;
}

nav a:hover {
	color: #fff;
	background-color: #7171ff;
	text-decoration: none;
}

.clicked {
	background-color: #fff;
	color: #01f;
	border: 1px solid #01f;
}

.col > img {
    max-width: 100%;
    max-height: 237px;
}

.header-text {
    display: table;
}

.header-text h1 {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.header-flag-div {
	padding: 10px;
}

.header-flag {
	width: 100%;
}

.question {
	height: 100px;
	margin: 30px 0;
}

.score {
	margin-top: 10px;
}

.strike {
	text-decoration: line-through;
}

/* Bootstrap Overrides */
.btn-primary {
	border-color: #01f;
	background-color: #01f;
}

.btn-primary:hover {
	background-color: #44f;
}

.btn-secondary {
	color: #000;
	background-color: #ddd;
}

.btn-secondary.active {
	color: #fff;
}

.btn-group {
	margin: 0 10px;
}

/* Media Queries */
@media (max-width: 768px) {
	.btn-group {
		display: block;
	}

	nav a {
		display: block;
		width: 100%;
	}
}